.detailContainer {
  max-width: 100dvw;
  margin: auto;
  padding: 20px;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.backButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}


.description {
  width: auto;
  margin: 20px 0;
  font-size: 16px;
}


.gallery {
  display: flex;
  width: 100%;
  gap: 10px;
}

.mainImage {
  flex: 1;
}

.mainImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  flex: 1;
  position: relative;
  width: 80dvw;
}

.imageGrid img {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.viewMore {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight:bold;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .imageGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .imageGrid img{
    height: auto;
  }

  .viewMore {
    bottom: 5px;
    right: 5px;
    padding: 6px 12px;
  }
}