.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 70dvw;
  text-align: center;
  position: relative;
  /* height: 90%; */
  overflow: auto;
}


.closeButton {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.prevButton {
  position: absolute;
  left: 20px;
  top: 50%;
  font-weight: bold;
}

.nextButton {
  position: absolute;
  right: 20px;
  top: 50%;
  font-weight: bold;
}

.modalGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modalGallery img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 5px;
  transition: 0.6s ease-in;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.4s;
}

.active,
.dot:hover {
  background-color: black;
}


@media (max-width: 768px) {
  .modal {
    width: 90%;
    height: auto;
  }

}