@import "tailwindcss";

body {
  margin: 0;
  min-height: 100dvh;
}

main {
  min-height: 100dvh;
}

.custom-datepicker {
  @apply rounded-lg border border-gray-200 shadow-lg overflow-hidden;
}

.custom-datepicker .react-datepicker__header {
  @apply bg-gray-200 border-b border-blue-900 font-bold;
}

.custom-datepicker .react-datepicker__day--highlighted-custom-1 {
  @apply bg-red-100 text-red-700 font-semibold;
}

.custom-datepicker .react-datepicker__day--selected {
  @apply bg-black text-white;
}

.custom-datepicker .react-datepicker__day--in-selecting-range {
  @apply bg-gray-600 text-white;
}

@theme {
  /* Fonts */
  --font-display: "Satoshi", sans-serif;  
  --font-body: "Inter", sans-serif;      
  --font-mono: "Fira Code", monospace;     


  --header-dark: #111929;   
  --header-light: #354052;  

  /* Primary Colors */
  --color-primary: var(--header-dark);   
  --color-secondary: var(--header-light);   

 
 
  --color-accent-primary: #FF5A1F;   
  --color-accent-primary-hover: #E03C00;

  --color-accent-secondary: #f5b800; 



  --color-background: #F7F7F7;  
  --color-text: #111929;       
  --color-muted: #354052;      


  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

h2{
  font-family: var(--font-display);
}